 {%- liquid
 
     assign  product =all_products[section.settings.featureProduct]
     
 -%}



<div class="container">
  <div class="row">
    <div class="col">
       <img src="{{product.featured_image | img_url: 'medium'}}"/>
    </div>
    <div class="col">
        <h1     class="my-3">{{product.title  | escape}}</h1>
        <h3>{{product.description  }}</h3>
        <h4>{{product.price  | money}}</h4>
        
    <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input min="1" type="number" id="quantity" name="quantity" value="1"/>
  <input type="submit" value="Add to cart" class="btn" />
</form>
    </div>

  

  </div>
     
</div>




{% schema %}
  {
    "name":"product",
     "settings": [
      {
        "type": "product",
        "id": "featureProduct",
        "label": "Product"
      }
     ],
     "presets": [
       {
        "name":"product",
        "category":"featureProduct"
       }
     ]
  }
{% endschema %}

