<div class="sections">
  <div class="container">
    
    <div class="row">


    {%- capture  image_option -%}
       <div class="col-6">
    {%- if section.settings.img != null -%}
     <img src="{{section.settings.img | img_url: 'original'}}"/>
    {%- else -%}
          {{"image" | placeholder_svg_tag}}
    {%- endif -%}
         
      </div>
    {%- endcapture -%}


     {%- if  section.settings.potions =="left" -%}
      {{image_option}}
     {%- endif -%}
     
      <div  class="col-6">
         {% for block in section.blocks  %}
     {% case  block.type %}
      {% when   "title" %}
         <h1>{{ block.settings.title }}</h1>
      
        {%- when "description" -%}
          <p>{{block.settings.description}}
          
      {% endcase %}


         {% endfor %}
      </div>    
      {%- if  section.settings.potions =="right" -%}
      {{image_option}}
     {%- endif -%}  
    </div>
  </div>

</div>


{% schema %}
  {
    "name":"imageText",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "upload Image"
      },
      {
        "type": "select",
        "id": "potions",
        "label": "Potions",
        "options": [
          {
            "value": "right",
            "label": "right"
            
          },
          {
            "value": "left",
            "label": "left"
          }
        ]
      }
    ],
    "blocks": [
      {
         "type": "title",
        "name":"title",
        "settings": [
          {
            "type": "text",
            "id": "title",
             "default": "Main Title",
            "label": "Main Title"
          }
        ]
      },
      {
        "type": "description",
        "name":"subtitle",
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "description ",
            "default": "<p>Subtitle Description  here</p> "
          }
        ]
      },
      {
        "type": "action",
        "name":"Button",
         "settings": [
          {
            "type": "text",
            "id": "btnText",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btnUrl",
            "label": "button URL"
          }
         ]
      }

      
      
    ],
    "presets": [
      {
        "name":"imageText",
        "category":"Image"
      }
    ]
  }
{% endschema %}