{% style %}

  #heading_{{ section.id}}{
    padding-top: {{ section.settings.pattingtop| times: 0.75 |round :0}}
    px;
    padding-bottom: {{ section.settings.pattingright | times: 0.75 |round :0}}
    px;
  }
{% endstyle %}

{%- for block in section.blocks -%}
  <div class="container">
    <div class="row">



      {%- case block.type -%}
        {%- when "title" -%}
        <h1 id="heading_{{section.id}}">{{ block.settings.title }}</h1>
        {%- when "description" -%}
        <p>{{ block.settings.description }}</p>
      {%- else -%}
        <h1>Subscribe us</h1>
        <p>Text here ........</p>



      {%- endcase -%}


    </div>
    {% form 'customer', class: "news_letter" %}
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="contact[email]" />
      </div>

      <div class="submit">
        <input type="submit" value="Sign up" />
      </div>
    {% endform %}
  </div>
{%- endfor -%}


{% schema %}
  {
    "name": "newsletter",
    "settings": [

      {
        "type": "range",
        "default": 10,
        "max": 200,
        "min": 0,
        "unit": "px",
        "step": 5,
        "label": "Padding Top",

        "id": "pattingtop"
      }, {
        "type": "range",
        "default": 10,
        "max": 200,
        "min": 0,
        "unit": "px",
        "step": 5,
        "label": "Padding Top",

        "id": "pattingright"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Subscribe us"
          }
        ]
      }, {
        "name": "description",
        "type": "description",
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "description",
            "default": "<p>Text here ........</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "newsletter",
        "category": "email",
        "blocks": [
          {
            "type": "title"
          }, {
            "type": "description"
          }
        ]
      }

    ]

  }
{% endschema %}